//Typography
$globalFamily: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$primFont: #303030;
$bgFont: #e7e7e7;

//Colors
$grey: #e7e7e77c;
$light-grey: #c7c7c7;
$prime-Blue: #2198fa;
$showOverlay: #333232c5;

//Button Padding
$Btn-Pad: 8px 12px 8px 12px;
